[run]
branch = True
source =
    wanikani_burnt_kanji_to_anki
    tests

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    raise NotImplementedError
    if typing.TYPE_CHECKING:
    assert_never()
    if __name__ == "__main__":
